
# Card Verification Status

Verification status of Card.

*This model accepts additional fields of type JsonValue.*

## Enumeration

`CardVerificationStatus`

## Fields

| Name | Description |
|  --- | --- |
| `Verified` | Card has been verified |
| `Failed` | Card verification has failed |

